@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');


body{
    margin:0 auto;
    padding: 0;
}

body.noscroll {
  overflow: hidden;
  height: 100vh;
}

div{padding:0;margin:0}

.white{background-color: white;}
.black{
    background-color: black;
    margin-top: -1px;
  }

.fade-in {
    opacity: 0;
    transform: translateY(70px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }

  main img{
    width:90%;
  }

  /* popup */

  .gallery {
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    padding-bottom: 45px;
  }
  
  .gallery img {
    width: 30%;
    padding: 2px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    z-index: 2;
  }   
  
  .fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
  }

  .fadeOut {
    animation: fadeOut 0.3s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }

  @keyframes fadeOut {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.9); }
  }

  
  body.modal-open {
    overflow: hidden; /* Prevent body scrolling */
  }
  
  .arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 3;
    user-select: none;
    padding: 10px;
  }

  .arrow.left {
    left: 20px;
  }

  .arrow.right {
    right: 20px;
  }


  .contact{
    font-size: 13px;
    text-align: center;
    font-family: 'nanummyeongjo';
  }

  .account-label{
    font-size: 14px;
    font-weight: bold;
  }

  .contact button{
    font-family: 'nanummyeongjo';
    border:0px;
    background-color: white;
    color:gray;
  }


    /* 토스트 알림창 */
    .toast {
      visibility: hidden;
      min-width: 200px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 20px;
      padding: 12px 20px;
      position: fixed;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      font-size: 14px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .toast.show {
      visibility: visible;
      opacity: 1;
    }


  .bold{
    letter-spacing: 2px;
    font-size: 40px;
    font-family: 'nanummyeongjo';
  }

  /* bgm */
  #bgmToggle {
    position: fixed;
    font-family: "nanummyeongjo";
    top: 20px;
    right: 20px;
    background: none; /* 완전 투명 */
    border: none;
    color: #444;
    font-size: 16px;
    font-weight: 500;
    z-index: 9999;
    cursor: pointer;
    padding: 4px 8px;
    line-height: 1;
    text-transform: uppercase;
  }
  
  #bgmToggle:hover {
    color: #000;
    text-decoration: underline;
  }

  
