body{
    margin:0 auto;
    padding: 0;
}

div{padding:0;margin:0}

.white{background-color: white;}
.black{
  background-color: black;
  margin-top: -1px;
}

.fade-in {
    opacity: 0;
    transform: translateY(70px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }

  main img{
    width:100%;
  }
  /* popup */

  .gallery {
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
  }
  
  .gallery img {
    width: 27%;
    margin: 7px;
    padding: 0px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .modal {
    display: none;
    position: fixed;
    line-height: normal;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling in modal */
  }
  
  .modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    object-fit: contain; /* Ensures image stays within bounds and centered */
  }
  
  body.modal-open {
    overflow: hidden; /* Prevent body scrolling */
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;
  }
  
  .arrow.left {
    left: 20px;
  }
  
  .arrow.right {
    right: 20px;
  }

  
